* {
  text-align: center; 
  box-sizing: border-box;
}

body {
  position: relative; 
  margin: 0; 
  padding-top: 0; 
}

div.header { 
  position: relative; 
  overflow: auto;  
}

p.header, #short-welcome {
  color: rgb(37, 18, 206);
  font-size: 1.5em; 
  font-weight: 800; 
  font-family: 'Tangerine';
  text-shadow: 4px 4px 4px #aaa;
}

p.header {
  display: none; 
}

p.header:hover {
  color: red; 
}

img.header {
  position: absolute; 
  left: 0; 
  top: 10%;
  float:left; 
  width: auto; 
  height: 70%; 
}

.header_contact {

  position: absolute; 
  right: 0; 
  top: 5%; 
  height: 80%; 
}

.header_icon {
  float: left; 
  width: 50%;
  padding: 5px;   
}

.header_icons_container {
  margin-top: -15px; 
}

.header_icons_container::after {
  content: "";
  clear: both;
  display: table;}

.body::after {
  content: ""; 
  clear: both;
  display: table; 
}

#train {
  position: absolute; 
  left: 0; 
  opacity: 0.2; 
  width: 100%; 
  max-height: 800px;
  z-index: 0;
}

a { 
  text-decoration: none;
}

a:link {
  color: rgb(235, 48, 141); 
}

a:visited {
  color: white; 
}

a:hover {
  color: greenyellow; 
  text-decoration: underline;
}

.menu {
  width: 100%;  
}

.menu:hover {
  opacity: 1; 
}

.menu ul {
  list-style-type: none;
  width: 100%; 
  font-size: 0.8em;   
  background-color: black;
  margin: 0; 
  padding: 0; 
}

.menu li {
  display: block; 
  border: 1px solid rgb(88, 83, 83); 
  padding: 3px; 
  color: red;  
}

.body {
  font-size: 1em; 
  color: rgb(60, 9, 179);
  width: 100%; 
  line-height: 1.5;
}

.quote {
  display: inline-block; 
  width: 100%; 
  padding-right: 10px;
}

.contents {
  border-bottom: 1px dotted grey;
  padding: 15px; 
  position: relative;
  z-index: 1;
}

#history {
  background-color: lightblue;
}

#population {
  background-color: rgb(84, 235, 227);
}

#culture {
  background-color: lightyellow;
}

#weather {
  background-color: rgb(241, 186, 195);
}

div.footer {
  position: relative; 
  bottom: -30px; 
  left: -5px; 
  width: 100%; 
  padding: 0; 
  margin: 0; 
  background-color: rgb(146, 141, 141);
  text-align: left; 
}

#author {
  border-bottom: 1px solid rgb(123, 123, 128);
  text-align: left; 
  padding: 20px 20px; 
}

p.footer {
  text-align: left; 
  padding-left: 20px; 
}


@media only screen and (min-width:600px) {
  .menu {
    overflow: hidden; 
    width: 100%;  
    position: sticky; 
    top: 0; 
    z-index: 5;
    opacity: 1; 
  }

  .menu li {
    display: inline-block; 
    width: 24.3%; 
    margin: 0; 
    padding:0; 
    text-align: center;
    font-size: 1.5em;
    border: none; 
  }

  p.header {
    display: block; 
  }

  #short-welcome {
    display: none;
  }
  
  .body {
    font-size: 1.5em; 
    color: rgb(60, 9, 179);

    width: 100%; 
    line-height: 1.5;
  }

  .side {
    position: relative;
    z-index: 1; 
  }

  .contents:hover {
    font-size: 150%;
  }

  div.footer:hover {
    font-size: 2em; 
    color: red; 
    background-color: rgb(174, 236, 150);
  }
}



